.top{
    margin: 2rem 0;
    width: 100%;
    text-align: center;
}

.top button{
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.2rem;
    background: none;
    border: 2px solid rgb(46, 89, 182);
}

.top button:hover{
    cursor: pointer;
    background-color: rgb(46, 89, 182);
    color: #f2f2f2;
    
}
.container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.card {
    width: 25%;
    border: 2px solid rgb(46, 89, 182);
    position: relative;
    border-radius: 12px;
    margin: 0 3.2%;
    margin-bottom: 2rem;
    padding: 1rem 0.5rem;
    font-weight: 600;
    box-shadow: 0 0 60px rgb(0, 0, 0);
    }

.card p{
    margin-top: 0.3rem;
    border-radius: 10px;
    margin-left: 20px;
}
.card button{
    width: 100%;
    margin: 1rem auto;
    cursor: pointer;
    padding: 0.4rem 0;
    width: 80%;
    display: block;
    border-radius: 10px;
}
.yet_to_start{
    background: yellow;
    color: #333;
    font-weight: 800;
    text-align: center;
}

.blue{
    /* background: rgb(46, 89, 182); */
    color: #f2f2f2;
    font-weight: 800;
}
.ongoing{
    background: green;
    color: #f2f2f2;
    font-weight: 800;
    text-align: center;
}
.ended{
    background: red;
    color: #f2f2f2;
    font-weight: 800;
    text-align: center;
    padding: 5px;
}
.modal{
    z-index: 1000;
    background:  rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.modal input{
    width: 80%;
    margin: 0.8rem 0;
    padding: 1rem 2rem;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}
.modal p{
    font-weight: 800;
    font-size: 1.5rem;
    color: #f2f2f2;
    text-transform: uppercase;
    margin-top: 4rem;
}
.modal button{
    margin: 2rem 0;
    padding: 0.4rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: center;
    background-color: rgba(0,0,0,0.7);
}

.modal .withdraw_statement{
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    text-transform: none;
    margin-bottom: 3rem;
    text-align: center;
}

.modal .close{
    padding: 0.3rem 0;
    font-size: 1rem;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 0;
    border-radius: 50%;
    width:20px;
}
.red{
    background: red;
    color: #f2f2f2;
    font-weight: 800;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}
.green{
    background: green;
    color: #f2f2f2;
    font-weight: 800;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .card{
        width: 80%;
        margin: 1rem 10%;
    
    }

    .modal .withdraw_statement{
        font-size: 15px;
    }
   
    
}