.home{
    display: flex;
    padding: 2rem 2rem;
    height: 70vh;
}

@keyframes bouge {
    0% {
      transform: translate3d(0, 0, 0);
    }
    50% {
      transform: translate3d(0, 15px, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .home img {
    border-radius: 90%;
    margin-right: 70px;
    box-shadow: 0 0 90px rgb(16, 43, 183);
    animation: bouge 3s infinite ease-in-out;
  }
  
  
  

.heading{
    font-size: 2rem;
}

.home_left{
    width: 65%;
    padding-top: 5rem;
}

.home_left p{
    margin-top: 1.5rem;
    width: 90%;
    width: 75%;
    color: hsl(50, 16%, 93%);
    font-size: 1.1em;
}

.home_left h2{
    letter-spacing: 1px;
    text-align: start;
    width: 80%;
    color: #f5f1ea	;    
}


.home_right{
    display: flex;
    flex: 1;
    /* justify-content: center; */
    align-items: center;
}
.row_1{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.row_2{
    margin-top: -2rem;
    display: flex;
    flex-direction: column;
}

.btn{
    margin-top: 1.5rem;
    margin-right: 1rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(18, 34, 204);
    border: none;
    color: #fff;
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(48, 64, 237);
    color: hsl(0, 0%, 100%);
}







@media screen and (max-width: 600px) {

    .home{
       flex-direction: column;
       padding: 1rem 4rem;
    }

    .home_left{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 1rem;
     
    }

    .home_left p{
        margin-top: 1.5rem;
        width: 85%;
    }

    .home_left h2{
        letter-spacing: 2px;
        text-align: start;
        width: 100%;
        font-size: 1.8rem;   
    }
    
    .home_right{
        width: 100%;
        padding-top: 5rem;
        margin-bottom: 5rem;
        justify-content: center;
    }    

    .btn{
        margin-top: 2rem;
        

    }

}